
@media only screen and (min-width: 1250px) {

    body {
        font-size: 1.1em;
    }

    h1 {
        font-size: 4em;
    }

    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 5rem repeat(2, 1fr) 100px;
    }

    header img {
        grid-column: 1/2;
        align-self: center;
        justify-self: end;
    }

    header div {
        text-align: left;
        grid-column: 2/3;
        justify-self: start;
    }

    header nav {
        grid-column: 3/5;
        align-self: center;
        justify-self: start;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul.hide {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        margin: 0.5em 1em;
    }

    nav ul li a {
        display: inline;
        padding: 0.8em;
    }

    nav button {
        display: none;
    }

    .hero-message {
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }

    /*Home Page*/

    #explore-cozumel div img {
        width: 70%;
    }

    /* Rentals Page */

    #all-rentals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2rem repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #all-rentals div {
        display: block;
        margin: 0 auto;
    }

    #all-rentals img {
        width: 100%;
    }

    #all-rentals h2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #all-rentals div:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #all-rentals div:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #all-rentals div:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #all-rentals div:nth-of-type(4) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #all-rentals div:nth-of-type(5) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #all-rentals div:nth-of-type(6) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

}