
@media only screen and (min-width: 40.5em) {
    
    body {
        font-size: 1em;
    }
    
    h1 {
        font-size: 2.5em;
    }

    main {
        margin: 0 auto;
        width: 80%;
    }

    .hero {
        position: relative;
    }

    .hero img {
        position: relative;
    }

    .hero-message {
        position: absolute;
        background-color: #fbf6f0;
        left: 50%;
        top: 20%;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }

    /* Home Page */

    .forecast div:nth-child(2) {
        display: block;
    }

    .forecast div:nth-child(2) ul {
        margin: 2em auto;
        display: flex;
        flex-direction: row;
    }

    .forecast div:nth-child(2) ul li {
        margin: 0 auto;
    }

    #explore-cozumel {
        display: flex;
        flex-direction: column;
    }

    #explore-cozumel div:nth-of-type(1) img {
        float: left;
    }

    #explore-cozumel div:nth-of-type(2) img {
        float: right;
    }

    #rentals-ex {
        display: flex;
        flex-direction: column;
    }

    #rentals-ex div {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin: 2em auto;
    }

    #rentals-ex div:nth-child(odd) img {
        float: left;
    }

    #rentals-ex div:nth-child(even) img {
        float: right;
    }

    #rentals-ex img {
        width: 38%;
    }
    
}