
@media only screen and (min-width: 40.5em) {
    
    body {
        font-size: 1em;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    header img {
        max-width: 3em;
    }

    main {
        margin: 0 auto;
        width: 72%;
    }

    .hero {
        position: relative;
    }

    .hero img {
        position: relative;
    }

    .hero-message {
        position: absolute;
        background-color: #fbf6f0;
        left: 50%;
        top: 20%;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }
    
}