
body {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    background-color: #fbf6f0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffa45b;
    font-family: 'Lemon', cursive;
}

h1 {
    font-size: 2.2em;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1.3em 1em;
}

header img {
    margin: 0 auto;
    max-width: 2.5em;
}

header div p {
    margin: 0;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
}

nav ul.hide {
    display: none;
}

nav ul li {
    margin: 0.5em 0;
}

nav ul li.active a {
    background-color: #ffda77;
    color: #ffa45b;
}

nav ul li a {
    display: block;
    background-color: transparent;
}

nav button {
    margin: .2em 2%;
    border: 1px solid #ffa45b;
    color: #ffa45b;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #ffa45b;
    text-decoration: none;
    padding: 15px;
    margin: 1.2em 0;
    background-color: #ffda77;
    border-radius: 50px;
}

a:hover {
    background-color: #ffa45b;
    color: #fbf6f0;
}

section {
    margin-bottom: 1em;
    padding: 2% 0;
}

.hero img{
    width: 100%;
}

.hero-message {
    padding: 2%;
}