
body {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    background-color: #fbf6f0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, form legend {
    color: #00571A;
    font-family: 'Lemon', cursive;
    margin: 0.8em auto;
}

h1 {
    font-size: 2.2em;
}

h3 {
    color: #00515C;
}

header, footer {
    display: flex;
    flex-direction: column;
    padding: 1.3em 1em;
}

header h1 {
    margin: 0;
}

header img {
    margin: 0 auto;
    max-width: 5em;
}

header div p {
    margin: 0;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
}

nav ul.hide {
    display: none;
}

nav ul li {
    margin: 0.5em 0;
}

nav ul li.active a {
    background-color: #AEE6E6;
    color: #00571A;
}

nav ul li a {
    display: block;
    background-color: transparent;
}

nav button {
    margin: .2em 2%;
    border: none;
    background-color: transparent;
    color: #00571A;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #00571A;
    text-decoration: none;
    padding: 15px 0;
    margin: 1.2em 0;
    background-color: #AEE6E6;
    border-radius: 50px;
}

a:hover {
    background-color: #00571A;
    color: #fbf6f0;
}

section {
    margin-bottom: 1em;
    padding: 0.3em 0;
}

div {
    margin-top: 1.2em;
}

table {
    margin : 0.8em auto;
}

.cards table,
.cards tr,
.cards td {
    border: 1px solid #fbf6f0;
    border-spacing: 0;
}

.cards tr,
.cards td {
    padding: 0.8em;
}

.hero img{
    width: 100%;
}

.hero-message {
    padding: 2%;
}

.hero-message p:nth-of-type(2) {
    margin: 2em 0;
}

.hero-message a, #rentals-ex a {
    padding: 15px;
}

.cards {
    background-color: #00571A;
    padding: 2em;
    color: #fbf6f0;
    margin: 2em auto;
    border-radius: 25px;
}

.cards h3 {
    color: #fbf6f0
}

.cards a:hover {
    background-color: #fbf6f0;
    color: #00571A;
}

footer {
    color: #00515C;
}

footer div:nth-child(1) {
    justify-self: start;
}

footer div:nth-child(2) {
    justify-self: end;
}

footer p {
    margin: 0;
}

footer a, nav button, .hotspot a, .recommends a {
    color: #00571A;
    background-color: transparent;
    padding: 0;
    display: inline;
}

footer a:hover,
nav button:hover,
.hotspot a:hover,
.recommends a:hover {
    color: #AEE6E6;
    background-color: transparent;
}

/* Home Page */

.current-weather img {
    width: 4em;
}

.forecast div:nth-child(2) {
    display: none;
}

#rentals-ex div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 2em auto;
}

#rentals-ex img {
    width: 80%;
}

#CTA p:nth-child(2) {
    margin: 2em 0;
}

/* Rentals Page */

#all-rentals div table {
    max-width: 100%;
}

#all-rentals table, #all-rentals tr, #all-rentals td, #all-rentals th {
    border: 1px solid #00571A;
    border-spacing: 0;
}

#all-rentals tr, #all-rentals td, #all-rentals th {
    padding: 1em;
}

#all-rentals tr td {
    background-color: white;
}

#all-rentals thead {
    background-color: #00571A;
    color: #fbf6f0;
}

/* Reservations Page */

form {
    text-align: center;
    margin-bottom: 2em;
}

form fieldset {
    margin: 2em 0;
    border: 1px solid #00515C;
    border-radius: 10px;
    padding: 1.2em 2%;
}

form legend {
    margin: 0 1em;
    padding: 0 0.5em;
    font-size: 1.5em;
}

form label, form div {
    display: block;
    padding-top: 1em;
}

form label input, form label textarea {
    -webkit-appearance: none;
    display: block;
    border: solid 1px #00515C;
    border-radius: 10px;
    padding: 0.8em;
    margin: 0.8em auto 1.2em;
    color: #00515C;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}

form label input:required {
    border-left: red solid 5px;
}

form label input:required:valid {
    border-left: #00571A solid 5px;
}

form input.submitBtn {
    border: none;
    background-color: #00571A;
    color: #fbf6f0;
    border-radius: 25px;
    padding: 0.8em 1.2em;
    width: 100%;
}

form input.submitBtn:hover {
    background-color: #AEE6E6;
    color: #00571A;
}

/* Tours page */

.hotspot {
    display: flex;
    flex-direction: column;
}