/* --Elements in hierarchical order-- */

body {
    background-color: #d8e1e9;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    padding: 3% 4%;
}


img {
    width: 150px;
    border-radius: 100%;
}

header {
    margin: 0;
}

header, footer {
    background-color: #759eb8;
    border-radius: 15px;
    padding: 3% 4%;
    margin: 0;
    text-align:center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

h1, h2 {
    color: #342e37;
}

hr {
    border: 1px solid #342e37;
    text-align: left;
    margin-left: 0;
}

a {
    color: #7392b7;
    text-decoration: none;
}

a:hover {
    color: #342e37;
}

footer p {
    text-align: center;
    margin: 0;
}

footer a {
    color: #d8e1e9;
}




