
@media only screen and (min-width: 40em) {

    body {
        font-size: 1rem;
    }

    header img {
        max-width: 90px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    nav {
        padding: 0;
        display: flex;
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin: 0 auto;
    }

    nav ul li {
        float: left;
    }

    main {
        width: 80%;
    }

    footer {
        font-size: 0.9rem;
        width: 80%;
        margin: 0 auto;
    }

    .logo-title {
        width: 55%;
    }

}