
@media only screen and (min-width: 40.5em) {

    body {
        font-size: 1rem;
    }

    header {
        flex-direction: row;
        text-align: left;
        align-content: center;
        justify-content: center;
    }

    header img {
        max-width: 90px;
        margin: 0;
    }

    header div {
        margin: 0;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1rem;
    }

    nav {
        padding: 0;
        display: flex;
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin: 0 auto;
    }

    nav ul li {
        float: left;
    }

    main {
        width: 90%;
    }

    footer {
        font-size: 0.9rem;
        width: 80%;
        margin: 0 auto;
    }

    .logo-title {
        width: 55%;
    }

    .hero {
        position: relative;
    }

    .hero img {
        position: relative;
    }

    .weather-summary {
        position: absolute;
        background-color: rgba(247, 146, 86, 0.8);
        text-align: left;
        left: 12em;
    }

    .weather-summary-data {
        color: #FAF33E;
    }

    .forecast {
        display: block;
    }

    .forecast ul {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    .forecast ul li {
        margin: 0.5em 0.2em;
        padding: 1.5em;
        background-color: rgb(228, 228, 228);
        color: #481620;
    }

    .forecast ul li i {
        color: #F79256;
        display: block;
    }

    .article img {
        float: left;
        margin: 1.2em;
        width: 25%;
    }

    .contact-info {
        flex-direction: row;
    }

    .contact-info div {
        text-align: left;
    }

    .contact-info img {
        width: 65%;
        margin: 0 0.8em 0 0;
    }

    /* Weather Gallery */

    figure {
        width: 90%;
    }

    /* Gallery Grid */

    #gallery {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 12px;
        justify-items: center;
        align-content: center;
    }

    figure:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    figure:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    figure:nth-of-type(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    figure:nth-of-type(4) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    figure:nth-of-type(5) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    figure:nth-of-type(6) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    figure:nth-of-type(7) {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    figure:nth-of-type(8) {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    figure:nth-of-type(9) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    /* Storm Center */

    form input.submitBtn {
        width: 30%;
    }

    /* Home page */

    .town-cards section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .town-cards section img {
        max-width: 100%;
    }

    .town-cards section:nth-child(even) div.town-info {
        grid-column: 1;
        grid-row: 1;
    }

    .town-cards section:nth-child(even) img {
        grid-column: 2;
    }

    .town-cards section:nth-child(even) div.town-info {
        grid-column: 2/3;
    }

    .town-cards section:nth-child(even) img {
        grid-column: 1/2;
    }

}