
@media only screen and (min-width:32.5em) {
    
    header{
        text-align: left;
    }

    h1 {
        margin: 0;
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    img {
        width: 200px;
    }

    nav ul {
        display: flex;
        padding: 0 2%;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        padding: 7% 0;
    }
}